body{background-color: #97C2FF;}

main{max-width: 90%; max-height: 90%; margin: 0 auto; display: grid;
grid-template-columns: 1fr 1fr; row-gap: 150px;}
.title{text-align: center; padding-top: 40px;padding-bottom: 40px;}

.image{text-align: center;}