body{background-color: #97C2FF; font-family: "Roboto", sans-serif;
font-optical-sizing: auto;
font-weight: 600;
font-style: normal;
font-variation-settings:
"wdth" 100;}

main{max-width: 90%; max-height: 90%; margin: 0 auto; display: grid;
grid-template-columns: 1fr 1fr; row-gap: 70px;}
.title{text-align: center; padding-top: 40px;padding-bottom: 40px; font-size: 2em;}

.image{margin: 0 auto; width: 200px;}

footer{padding-top: 30px; display: grid; grid-template-columns: 1fr 1fr 1fr; max-width: 70%; margin: 0 auto; text-align: center;}
a{font-style: normal; text-decoration: none; color: black;}
footer a :hover{text-decoration: underline;}

hr{color: black;}
