main{
    display: block;
}
header{
    background-color: rgb(80, 80, 150);
    color: aliceblue;
    font-size: 50px;
}
header a{
    float: right;
    color: aliceblue;
    text-decoration: none;
    font-size: 30px;
    margin: 10px;
}
header img{
    float: left;
    margin: 5px;
    width: 43px;
}
.block{
    background-color: rgb(80, 80, 150);
    color: aliceblue;
    margin: 10px;
    padding: 10px;
}
.block h1, .block h2{
    text-align: center;
    background-color: rgb(159, 159, 205);
    color: black;
    width: fit-content;
    margin: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgb(159, 159, 205);    
}